.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  position: absolute;
  z-index: 1; }

.video-container .filter {
  z-index: -2;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 2; }

.video-container video.fillWidth {
  width: 100%; }

@font-face {
  font-family: 'Kavivanar';
  /*src: url('fonts/lovely_font.eot'); */
  src: local("Kavivanar Regular"), local("Kavivanar-Regular"), url("../fonts/Kavivanar-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProzaLibre';
  /*src: url('fonts/lovely_font.eot'); */
  src: local("ProzaLibre Regular"), local("ProzaLibre-Regular"), url("../fonts/ProzaLibre-Regular.ttf") format("truetype"); }

/*bold */
@font-face {
  font-family: 'ProzaLibre';
  /*src: url('fonts/lovely_font_bold.eot');*/
  src: local("ProzaLibre Bold"), local("ProzaLibre-Bold"), url("../fonts/ProzaLibre-Bold.ttf") format("truetype");
  font-weight: bold; }

/* italic */
@font-face {
  font-family: 'ProzaLibre';
  /*src: url('fonts/lovely_font_bold.eot');*/
  src: local("ProzaLibre Italic"), local("ProzaLibre-italic"), url("../fonts/ProzaLibre-italic.ttf") format("truetype");
  font-weight: italic; }

@font-face {
  font-family: 'ProzaLibre';
  /*src: url('fonts/lovely_font_bold.eot');*/
  src: local("ProzaLibre BoldItalic"), local("ProzaLibre-BoldItalic"), url("../fonts/ProzaLibre-BoldItalic.ttf") format("truetype");
  font-weight: bold-italic; }

@font-face {
  font-family: 'ProzaLibre';
  /*src: url('fonts/lovely_font_bold.eot');*/
  src: local("ProzaLibre Medium"), local("ProzaLibre-Medium"), url("../fonts/ProzaLibre-Medium.ttf") format("truetype");
  font-weight: medium; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.bluebg {
  background-color: #E0ECF8; }

.flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  background-color: #FF8000;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Kavivanar', sans-serif;
  width: 70%;
  -webkit-box-shadow: 10px 10px 10px grey;
  box-shadow: 10px 10px 10px grey;
  margin-top: 66px; }

.title h2 {
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 1%; }

#carousel {
  position: relative;
  height: 400px;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden; }

#carousel div {
  position: absolute;
  -webkit-transition: left 1s, opacity 1s, z-index 0s, -webkit-transform 1s;
  transition: left 1s, opacity 1s, z-index 0s, -webkit-transform 1s;
  -o-transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s, -webkit-transform 1s;
  opacity: 1;
  margin: 0 auto; }

#carousel div img {
  width: 400px;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s; }

#carousel div.hideLeft, #carousel div.hideRight {
  left: 0%;
  opacity: 0;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%); }

#carousel div.hideRight {
  left: 100%; }

#carousel div.hideLeft img, #carousel div.hideRight img,
#carousel div.hideRight img,
#carousel div.prevLeftSecond img, #carousel div.nextRightSecond img,
#carousel div.nextRightSecond img {
  width: 200px; }

#carousel div.prev, #carousel div.next {
  z-index: 5;
  left: 30%;
  -webkit-transform: translateY(50px) translateX(-50%);
  -ms-transform: translateY(50px) translateX(-50%);
  transform: translateY(50px) translateX(-50%);
  background-color: #DCDCDC;
  color: blue;
  text-align: center; }

#carousel div.next {
  left: 70%; }

#carousel div.prev img, #carousel div.next img, #carousel div.next img {
  width: 300px; }

#carousel div.prevLeftSecond, #carousel div.nextRightSecond {
  z-index: 4;
  left: 15%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
  opacity: .7;
  background-color: #DCDCDC;
  color: blue;
  text-align: center; }

#carousel div.nextRightSecond {
  left: 85%; }

#carousel div.selected {
  z-index: 10;
  left: 50%;
  -webkit-transform: translateY(0px) translateX(-50%);
  -ms-transform: translateY(0px) translateX(-50%);
  transform: translateY(0px) translateX(-50%);
  background-color: #DCDCDC;
  color: blue;
  border: 2px solid green;
  border-radius: 5px;
  text-align: center; }

.buttons {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 55px; }

#next, #prev {
  border-radius: 4px;
  background-color: #FF8000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 130px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer; }

#next span, #prev span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

#next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

#next:hover span {
  padding-right: 25px; }

#next:hover span:after {
  opacity: 1;
  right: 0; }

#prev span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

#prev:hover span {
  padding-left: 25px; }

#prev:hover span:after {
  opacity: 1;
  left: 0; }

.bottom0 {
  display: block;
  position: relative;
  width: 100%;
  bottom: -800px;
  z-index: -1; }

@media screen and (max-width: 480px) {
  #next, #prev {
    font-size: 14px;
    padding: 5px;
    width: 90px; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container1 {
  margin: 0px auto;
  background-color: #F7FE2E; }

.sectionpadding {
  padding: 40px; }

.hero img {
  max-width: 100%;
  margin: 0px auto;
  display: block;
  -webkit-transition: 0.9s ease;
  -o-transition: 0.9s ease;
  transition: 0.9s ease; }

.hero img:hover {
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2); }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: -webkit-gradient(linear, left top, right top, from(#9FF781), to(#04B404));
  background: -webkit-linear-gradient(left, #9FF781, #04B404);
  background: -o-linear-gradient(left, #9FF781, #04B404);
  background: linear-gradient(to right, #9FF781, #04B404);
  list-style-type: none;
  padding: 20px 0px;
  margin: 0px auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  opacity: 0.6;
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out; }

.nav:hover {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out; }

.nav li a {
  text-decoration: none;
  padding: 15px 15px;
  color: blue;
  font-family: 'Kavivanar', sans-serif;
  font-size: 18px; }

.nav li a:hover:not(.active) {
  background-color: rgba(250, 150, 0, 0.8); }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #82FA58;
  z-index: 4;
  margin-top: 13px; }

.dropdown-content a {
  text-decoration: none;
  display: block;
  text-align: center;
  border-top: 1px solid grey; }

.dropdown:hover .dropdown-content {
  display: block; }

div h1 {
  position: absolute;
  margin-right: 50%;
  text-transform: uppercase;
  z-index: 3;
  font-family: 'Kavivanar', sans-serif;
  font-size: 5em;
  color: white;
  text-align: center;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.apie {
  margin: 0px auto;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAAC58), to(#F7FE2E));
  background: -webkit-linear-gradient(#FAAC58, #F7FE2E);
  background: -o-linear-gradient(#FAAC58, #F7FE2E);
  background: linear-gradient(#FAAC58, #F7FE2E); }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.geltonazalia {
  background: -webkit-gradient(linear, left top, left bottom, from(#F7FE2E), to(#BCF5A9));
  background: -webkit-linear-gradient(#F7FE2E, #BCF5A9);
  background: -o-linear-gradient(#F7FE2E, #BCF5A9);
  background: linear-gradient(#F7FE2E, #BCF5A9); }

.produktai {
  width: 250px;
  margin: 25px 30px;
  height: 530px;
  -webkit-transition: 0.9s ease;
  -o-transition: 0.9s ease;
  transition: 0.9s ease;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.produktai img {
  width: 100%;
  height: 200px; }

.produktai:hover {
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2); }

.produktai div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 25px; }

#googleMap {
  width: 50%;
  height: 400px;
  min-width: 300px;
  float: right;
  position: relative; }

.kontaktai {
  text-decoration: none; }

.clearfloat {
  clear: both; }

.textcenter-green {
  text-align: center;
  text-transform: uppercase;
  color: green; }

.background-green {
  background-color: #BCF5A9; }

.forma {
  display: block;
  width: 40%;
  margin: auto; }

.forma2 {
  width: 100%;
  margin: auto;
  min-width: 200px; }

.forma2 input {
  width: 100%; }

.submit {
  min-width: 100px;
  margin: auto;
  color: red; }

.formaBG {
  background-color: #F5DA81;
  font-size: 16px;
  color: blue;
  font-weight: bold; }

.formaBG::-webkit-input-placeholder {
  color: blue; }

.formaBG:-ms-input-placeholder {
  color: blue; }

.formaBG::-ms-input-placeholder {
  color: blue; }

.formaBG::placeholder {
  color: blue; }

textarea {
  width: 100%;
  height: 150px;
  margin: auto; }

.footericons p {
  margin-bottom: 0;
  text-align: center; }

.footericons2 a {
  padding-left: 15px;
  font-size: 22px;
  color: green;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out; }

.footericons2 a:hover {
  font-size: 22px;
  color: orange; }

.ProzaLibre {
  font-family: 'ProzaLibre', sans-serif; }

.borders {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  -webkit-box-shadow: 3px 3px 4px grey;
  box-shadow: 3px 3px 4px grey; }

.naudapadding {
  padding: 3% 15%; }

.btnpirkti {
  border-radius: 4px;
  background-color: #FF8000;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 50px;
  cursor: pointer; }

.btnpirkti:hover {
  background-color: red;
  color: black;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out; }

@media screen and (max-width: 480px) {
  .nav {
    display: block;
    float: left; }
  .nav li a {
    font-size: 10px;
    display: block; }
  body {
    margin-top: 155px; }
  div h1 {
    top: 50%; }
  .dropdown-content {
    margin-top: -45px;
    margin-left: 100px; }
  .acf-map {
    width: 90%;
    height: 300px;
    margin-top: 20px; }
  .acf-map img {
    max-width: 90%; } }

/*# sourceMappingURL=projektas.css.map */